:root{
    --primary-color: rgba(123, 66, 189, 1);
    --secondary-color: rgba(123, 66, 189, 0.5);
    --tertiary-color: rgba(123, 66, 189, 0.3);
    --dark-primary: rgb(60, 30, 93);
    --orange-color: #F9994D;
    --odd-color: rgba(189, 66, 81, 0.5);
    --back-color: white;
    --font-color: black;
    --grey-color: #6c757d;
    --grey-dark-color: #343a40;
    --baby-pink: #FA63A7;
}